html {
  min-height: 100%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
}

body.home {
  background-image: url("../../assets/images/chalice_peak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  margin: 0;
  min-height: 800px;
}

body.how {
  margin: 2vw 2vw 200px 3vw;
}

body.who {
  margin: 2vw 2vw 200px 3vw;
}

h1 {
  text-align: right;
  font-weight: 900;
  font-size: 12vw;
  margin: 2vw 2vw 0 0;
  line-height: 95%;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.details-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h2 {
  margin-top: 0;
}

h2.register {
  display: flex;
  justify-content: space-between;
}

em {
  font-weight: 200;
}

@media (max-width: 768px) {
  .hide-small {
    display: none;
  }
}

a {
  background-color: transparent;
}

a:link {
  color: darkslateblue;
  text-decoration: none;
}

a:visited {
  color: darkslateblue;
  text-decoration: none;
}

a:hover {
  color: darkslateblue;
  text-decoration: underline;
}

p {
  font-weight: 200;
}

p.indent {
  margin-left: 2vw;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1rem;
  padding: 0;
}

li.active {
  list-style-image: url("../../assets/images/bullet.png");
}

.what {
  margin: 0 0 2vw 2vw;
  padding: 1.4vw 2vw;
  width: 50vw;
  background-color: #fffded;
  border: 2px solid;
  border-radius: 0 2.5vw 0 2.5vw;
}

.links {
  margin: 0 2vw 2vw 2vw;
  padding: 1.2rem 2vw;
  background-color: #fffded;
  border: 2px solid;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  border-radius: 0 2.5vw 0 2.5vw;
}
