html {
  min-height: 100%;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

body.home {
  background-image: url("../../assets/images/chalice_peak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

h1 {
  text-align: right;
  font-weight: 900;
  font-size: 14vw;
  margin: 2vw 2vw 0 0;
  line-height: 95%;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.details-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h2 {
  margin-top: 0;
}

.what {
  margin: 2vw;
  padding: 2vw;
  width: 50vw;
  background-color: #ededed;
  border: 2px solid;
}

em {
  font-weight: 200;
}

.links {
  margin: 2vw;
  padding: 2vw;
  background-color: #ededed;
  border: 2px solid;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0 0 0 1rem;
  padding: 0;
}

li.active {
  list-style-image: url("../../assets/images/bullet.png");
}

ul.boring {
  list-style-type: none;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

ul.boring li {
  font-weight: 200;
  padding-bottom: 0.2rem;
}

a {
  background-color: transparent;
}

a:link {
  color: darkslateblue;
  text-decoration: none;
}

a:visited {
  color: darkslateblue;
  text-decoration: none;
}

a:hover {
  color: darkslateblue;
  text-decoration: underline;
}

p {
  font-weight: 200;
}
